#faq {
    margin-bottom: 20vh;
    background: linear-gradient(to bottom, white 0%, white 60%, #32111A 60%, #32111A 100%);

}

#faq-header {
    position: relative;
    z-index: 0;
}

#question.midway {
    padding-right: 0;
}

#answer.midway {
    padding-right: 0;
}

#faq-title {
    position: relative;
    color: var(--orange);
    font-size: 8rem;
    text-align: right;
    text-transform: uppercase;
    z-index: 10;
    margin: 0 50vw;
    margin-top: -80vh;
    padding: 8rem 8rem;
}

#firstAid {
    position: absolute;
    top: 0;
    left: -13vw;
    right: 0%;
    width: 206vw;
    z-index: -1;
    margin: 0 0;
}

#questions {
    margin: 0rem 6.25rem;
    z-index: 12;
}

.question {
    display: flex;
    color: #FFC808;
    align-items: left;
    font-size: 4.5rem;
    z-index: 10;
    padding-right: 25rem;
}

.question p {
    margin: 2rem 0rem;
    
}

.answer,
.answer b {
    color: var(--white);
    font-size: 1.75rem;
    line-height: 2rem;
    font-family: 'Nanum Gothic', sans-serif;
}

.answer {
    margin: 2rem 0rem;
    padding-right: 5vw;
}


@media (min-width: 1180px) {
    #faq-title {
        font-size: 8rem;
    }


    .question {
        font-size: 3rem;
    }

    #questions {
        margin-top: 10vh;
        padding-right: 25vw;
        max-width: 50vw;
        z-index: 12;
    }

 


}


@media (max-width: 1180px) {

    #faq{
        background: linear-gradient(to bottom, white 0%, white 30%, #32111A 30%, #32111A 100%);
    }
    #faq-title {
        font-size: 8rem;
    }

    .question {
        font-size: 3rem;
        margin: 0rem 1rem;
    }

    #questions {
        max-width: 75vw;
    }

    .answer {
        font-size: 1.5rem;
        margin: 0rem 1rem;
    }
}

@media (max-width: 820px) {
    #faq {
        background: white !important; /* Override gradient or maroon */
    }


    #questions {
        margin: 0rem 0rem;
        z-index: 12;
    }

    #firstAid {
        display: none;
    }

    #faq-title {
        text-align: center;
        text-transform: uppercase;
        z-index: 10;
        margin: 0 0;
        padding: 0rem 5rem; 
        font-size: 6rem;
    }

    .answer,
    .answer b {
    color: black;
    font-size: 1.75rem;
    line-height: 2rem;
    font-family: 'Nanum Gothic', sans-serif;
}

    #questions {
        margin: 0 2rem;
    }

    .question {
        font-size: 4rem;
        line-height: 4rem;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;

    }

    .answer,
    .answer b {
        font-size: 1.5rem;
        margin: 0rem 0rem;
    }

}
@media (max-width: 480px) {

    #faq {
        margin: 2vh 0;
    }

    #faq-title {
        font-size: 6rem;
        line-height: 4rem;
        margin: 2vh 0;
    }

    .question {
        font-size: 3rem;
    }

    .answer {
        margin: 0 1rem;
    }

    .answer,
    .answer b {
        font-size: 16px;
        line-height: 1.5rem;
    }
}


@media (max-width: 390px) {

    #faq {
        margin: 2vh 0;
    }
    .question {
        font-size: 2rem;
        line-height: 1.75rem;
    }

   

}