#landing-wrapper {
  position: relative;
  z-index: 0;
  margin-bottom: 20vh;
}

#clouds {
  width: 100%;
  z-index: 12;
  position: absolute; /* THIS is the key */
  bottom: 0;
  left: 0;
  pointer-events: none;
}

#sky-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}

#skyline {
  margin-top: -8rem;
  width: 100vw;
  z-index: 1;
  position: absolute;
}

#frontskyline {
  margin-top: -5rem;
  width: 110vw;
  z-index: 4;
  position: absolute;
}

#buildings {
  top: -15vh;
  width: 100vw;
  z-index: 5;
  position: relative;
}

/* Foreground = text, buttons, non-animated elements */
#landing-fg {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20rem 0;
}

#landing-title {
  margin: 0;
  color: var(--white);
  font-size: 10rem;
  line-height: 3rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  position: fixed;
}

#landing-date {
  margin-top: 16rem;
  color: var(--white);
  font-size: 3.5rem;
  line-height: 2rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  position: fixed;
}

#landing-bg {
  position: relative;
}

#landing-text {
  margin-bottom: -25vh;
}

#landing-btn-wrapper {
  position: relative;
  left: 50%
}

.landing-btn {
  padding: 2.5rem 7rem;
  margin: 1.5rem;
  font-size: 5rem;
  line-height: 2rem;
  color: var(--white);
  border-radius: 3rem;
  cursor: pointer;
  text-transform: uppercase;
}

.landing-btn:hover {
  font-size: 5.2rem;
}

#countdown-text {
  position: absolute;
  top: 50vh;
  left: 78vw;
  font-size: 4rem;
  text-transform: uppercase;
  z-index: 10;
}

#timer {
  display: grid;
  align-items: center;
  grid-template-rows: 6rem 6rem 6rem 6rem;
  width: 20vw;
  color: var(--orange);
}

#timer p {
  margin: 0;
}

#days-num {
  grid-area: 1 / 1;
}

#days-text {
  grid-area: 1 / 2;
}

#hours-num {
  grid-area: 2 / 1;
}

#hours-text {
  grid-area: 2 / 2;
}

#minutes-num {
  grid-area: 3 / 1;
}

#minutes-text {
  grid-area: 3 / 2;
}

#seconds-num {
  grid-area: 4 / 1;
}

#seconds-text {
  grid-area: 4 / 2;
}

@media (min-width: 1920px) {
  #landing-wrapper {}
  #landing-bg {}
  #landing-text {}
  #landing-fg {}
  #landing-title {}
  #landing-date {}
  #landing-btn-wrapper { left: 59vw; }
  .landing-btn {}
  #countdown-text { font-size: 4rem; transform: translateY(50vh); padding-top: 10vh; }
  #timer {grid-template-rows: 4rem 4rem 4rem 4rem; }
}

@media (max-width: 1920px) {
  #landing-wrapper {}
  #landing-bg {}
  #landing-text {}
  #landing-fg {}
  #landing-title {}
  #landing-date {}
  #landing-btn-wrapper { left: 59vw; }
  .landing-btn {}
  #countdown-text { font-size: 3rem; transform: translateY(80vh); padding-top: 10vh; }
  #timer {grid-template-rows: 4rem 4rem 4rem 4rem; }
}

@media (max-width: 1080px) {
  #landing-wrapper {}
  #landing-bg {}
  #landing-text {}
  #landing-fg {}
  #landing-title {}
  #landing-date {}
  /* #landing-btn-wrapper { left: 56vw; } */
  .landing-btn {}
  #countdown-text { font-size:2rem; transform: translateY(70vh); padding-top: 10vh; 
  }
  #timer { grid-template-rows: 3rem 3rem 3rem 3rem; }
}

@media (max-width: 972px) {
  #landing-title { font-size: 8rem; }
}

@media (max-width: 820px) {
  #landing-wrapper { margin-bottom: 20vh;}
  #landing-bg {padding-bottom: 7vh;}
  #landing-text {}
  #landing-fg {padding: 20rem 0;}
  #landing-title { font-size: 7rem; margin-bottom: 10vh; }
  #landing-date { margin-top: 5rem;
    color: var(--white);
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    position: fixed; }
  #countdown-text {font-size:2rem; transform: translateY(50vh); padding-top: 10vh;}
  #timer {  grid-template-rows: 3rem 3rem 3rem 3rem;  }
}

@media (max-width: 500px) {
  #landing-wrapper {}
  #landing-bg {}
  #landing-text {}
  #landing-fg {}
  #landing-title { font-size: 3.5rem; }
  #landing-date { margin-top: 8rem; font-size: 1.5rem; }
  #landing-btn-wrapper { left: 39vw; top: -15vw; }
  .landing-btn { font-size: 1.5rem; }
  #countdown-text {transform: translateY(35vh); padding-top: 50vw; }
  #timer {  width: 30vw; font-size: 3rem; transform: translateX(-45vw); grid-template-rows: 3rem 3rem 3rem 3rem; }
}

@media (max-width: 768px) {
  #landing-wrapper {padding-bottom: 10vh;}
  #landing-bg {}
  #landing-text {}
  #landing-fg {}
  #landing-title {
    margin: 0;
    color: var(--white);
    font-size: 3.5rem;
    line-height: 1rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    position: fixed;
  }
  #landing-date { font-size: 1.5rem; margin-top: 6rem; }
  #landing-btn-wrapper {}
  .landing-btn {}
  #countdown-text {transform: translateY(50vh), translateX(-30vw); padding-top: 40vw; }
  #timer { font-size: 1.75rem; grid-template-rows: 2.25rem 2.25rem 2.25rem 2.25rem; }
  #clouds {
    transform: translateY(-2rem);
  }
}

@media (max-width: 480px) {
  #landing-wrapper {}
  #landing-bg {}
  #landing-text {}
  #landing-fg {}
  #landing-title { font-size: 3.5rem; }
  #landing-date { margin-top: 8rem; font-size: 1.5rem; }
  .landing-btn { font-size: 1.5rem; }
  #countdown-text {transform: translateY(50vh); padding-top: 40vw; }
  #timer {  width:40vw; font-size: 1.5rem; transform: translateX(-60vw);grid-template-rows: 2rem 2rem 2rem 2rem; }
}


@media (max-width: 360px) {
  #landing-wrapper {}
  #landing-bg {}
  #landing-text {}
  #landing-fg {}
  #landing-title { font-size: 2rem; }
  #landing-date { margin-top: 5rem; font-size: 1rem; }
  #landing-btn-wrapper { left: 39vw; top: -15vw; }
  .landing-btn { font-size: 1.5rem; }
  #countdown-text {transform: translateY(40vh); padding-top: 10vh; }
  #timer {  width: 30vw; font-size: 1.25rem; transform: translateX(-45vw); grid-template-rows: 1.5rem 1.5rem 1.5rem 1.5rem; }
  #clouds {
    transform: translateY(-5rem);
  }
}

