#footer {
  background-color: #32111A;
  width: 100%;
  overflow: visible;
}

.contact-flex-wrapper {
  width: 100%;
  display: flex;
  gap: 2vw;
  align-items: center;
  justify-content: center; /* optional, to center them nicely */
  padding: 2vw 0vw;         /* give enough breathing room on both sides */
}

.contact-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#content {
  color: var(--white);
  text-align: center;
}

#contact {
  font-size: 8rem;
  margin-bottom: 0;
  text-transform: uppercase;
}

#walkietalkie {
  position: relative;
  width: 100%;
  padding: 0;
  height: auto;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  overflow: visible;
}

#text {
  display: flex;
  flex-direction: column;
  padding: 3vh 3vw;
  justify-content: center;
  align-items: center;
  /* width: 60vw; */
}

.sec {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  align-self: center;
}

.sec p,
.sec a {
  font-family: 'Abel', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin: .5rem 0 0 0;
  overflow-wrap: normal;
}

.sec a {
  margin: 0 1rem;
  text-decoration: underline;
}

#mail  {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mail a {
  color: white;
}

#icon-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#mail,
#icon-box {
  margin-top: 1.25rem;
}

.icon {
  display: inline-block;
  margin: 2.5rem;
}

.footer-icon {
  width: 3rem;
  height: 3rem;
}

.footer-links {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--black);
}


@media (min-width: 1024px) {
  .contact-stack {
    flex-direction: row;
  }
}


@media (max-width: 1050px) {
  #walkietalkie {
    max-height: 40vh;
    transform: translateX(-100vw);           /* cap height so it fits on screen */
    max-width: 50%;
    transform: scaleX(-1);
  }
  
  #contact {
    font-size: 6rem;
    padding-top: 2vh;
  }
}

@media (max-width: 820px) {

 .contact-stack {
  flex-direction: row;
 }

  #contact {
    margin-left: 0;
   
  }
}

@media (max-width: 480px) {
  #contact {
    font-size: 2.5rem;
  }

  .sec p,
  .sec a {
    line-height: 1rem;
    font-size: 16px;
    margin: .5rem 0;
  }

  .sec {
    margin: 0.5rem 0;
  }

  #mail,
  #icon-box {
    margin-top: .25rem;
  }

  #mail {
    margin-bottom: 1rem;
  }

  .footer-icon {
    width: 2rem;
    height: 2rem;
  }

  #icon-box {
    gap: 1rem;
  }
}

@media (max-width: 390px) {

  .sec p,
  .sec a {
    line-height: .75rem;
    font-size: 12px;
    margin: .25rem 0;
  }

  #icon-box {
    gap: 1rem;
  }

}