/* colors */
:root {
  --bright-yellow: #FFC808;
  --red: #DF1F26;
  --dark: #9D0208;
  --orange: #E85D04;
  --crimson: #6A040F;
  --white: #FFFFFF;
  --gray: #020202;
  --black: #0F0237;
}

@font-face {
  font-family: "Muro";
  src: url("../src/assets/fonts/Muro.ttf") format('truetype'),
       url("../src/assets/fonts/Muro.woff") format('woff');
}

@font-face {
  font-family: "Muroslant";
  src: url("../src/assets/fonts/Muroslant.ttf")  format('truetype'),
       url("../src/assets/fonts/Muroslant.woff") format('woff');
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-padding-top: 18vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: var(--white);
  width: 100vw;
}

* {
  font-family: Arial, sans-serif;
  font-family: "Muro";
}

a {
  text-decoration: none;
  color: white;
}

.app-container {
  background-color: var(--forest-green);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.section2 {
  margin-top: -50px;
}

.enlarge-text {
  display: block; /* important for transform to work correctly */
  transition: transform 0.2s ease; /* smooth animation */
}

.enlarge-text:hover {
  transform: scale(1.05); /* slightly enlarge by 5% */
}

/* img {
  -webkit-user-drag: none;
} */