#sponsors-wrapper {
    position: relative;
    background-color:  #32111A;
    color: var(--white);
    z-index: 10;
    margin-top: -20vh;
}


.rightText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#sponsors {
    font-size: 8rem;
    line-height: 2rem;
    text-transform: uppercase;
    text-align: center;
}

#sponsor-us {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    font-family: 'Abel';
}

#dei {
    font-size: 1.25rem;
    text-align: center;
    margin: 4rem;
    font-family: 'Abel';
    font-style: italic;
    padding: 0 40vh;
}

#email {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
    color: var(--white);
    font-family: 'Abel';
}

#sponsor-images {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

#sponsor-images img {
    height: auto;
    max-width: 10rem;
    margin: 0rem 2rem;
    margin-bottom: 4rem;
    cursor: pointer;
    z-index: 1;
}

#sponsor-images img:hover {
    transform: scale(1.1);
}

.white-logo {
    filter: invert(1);
}

@media (max-width: 1180px) {

    #sponsor-images img {
        max-width: 4.5rem;
    }

    #sponsor-images {
        margin: 0 7rem;
    }
}

@media (max-width: 1024px) {
    #sponsor-images img {
        max-width: 4rem;
    }

    #sponsor-images {
        margin: 0 6rem;
        padding: 15rem 0 0 0;
    }

    #sponsors {
        padding-top: 20vh;
    }
}

@media (max-width: 820px) {
    #sponsor-images img {
        max-width: 3rem;
    }

    #sponsor-images {
        margin: 0 5rem;
        padding: 10rem 0 0 0;
    }

    #sponsors-wrapper {
        margin-top: 70vw;
        margin-bottom: 30vh;
    }

    #sponsors {
        font-size: 6rem;
        padding-top: 40vw;
    }

    #sponsor-us,
    #email {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    #sponsor-images img {
        max-width: 1rem;
        margin: .25rem;
    }

    #sponsor-images {
        margin: 0 2.5rem;
        padding: 5rem 0 0 0;
    }

    #sponsors-wrapper {
        margin-top: 60vw;
        margin-bottom: 30vh;
    }

    #sponsors {
        font-size: 2.5rem;
        padding-top: 130vw;
        margin-bottom: 2rem;
    }

    #sponsor-us,
    #email {
        font-size: 1.25rem;
    }
}

@media (max-width: 390px) {
    #sponsors-wrapper {
        margin-top: 70vw;
    }

    #sponsor-us,
    #email {
        font-size: 1rem;
    }
}